* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --purple: #603f8b;
    --aqua: #b4fee7;
    --violet: #a16ae8;
    --fuchsia: #fd49a0;
    --white: #efefef;
    --black: #222;
    --trueBlack: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}


.navbar-brand img {
    height: 80px; /* Adjust as needed */
    width: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 1rem;
    border-radius: 50%;
    border: 1px solid #333;
    padding: 0.5rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.navbar-brand {
    display: contents;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.navbar-links li:hover {
    transform: scale(1.1);
}

.navbar-links a[aria-current="page"] {
    font-weight: bold;
}

.navbar-toggle {
    display: none; /* Hide on larger screens */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Hide on smaller screens */
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        z-index: 1;
    }

    .navbar-links li {
        margin: 0;
        padding: 1rem 0;
        border-bottom: 1px solid #eee;
    }

    .navbar-toggle {
        display: block; /* Show on smaller screens */
    }

    .navbar.active .navbar-links {
        display: flex;
        margin-top: 1.5rem;
        animation: open 0.5s ease-in-out;
    }

    .navbar.active .navbar-toggle span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .navbar.active .navbar-toggle span:nth-child(2) {
        opacity: 0;
    }

    .navbar.active .navbar-toggle span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

.navbar-links li.active {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

@keyframes open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}


.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    background: #fff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer a {
    border: 1px solid #ccc;
    margin: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transform: rotate(45deg);
    color: #ccc;
    transition: all .3s linear;
}

footer a:hover {
    border-color: #222;
    color: #222;
}

footer a i {
    transform: rotate(-45deg);
}

.footer img {
    width: 20px;
}

.footer a {
    border: 1px solid #ccc;
    margin: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transform: rotate(45deg);
    color: #ccc;
    transition: all .3s linear;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer a:hover {
    border-color: #222;
    color: #222;
    scale: 1.2;
}

.subfooter {
    text-align: center;
}


.cards {
    display: grid;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}

.cards_item {
    display: flex;
}

.card_image {
    display: flex;
    height: 250px;
    box-shadow: 0 50px 100px 0 var(--violet);
}

.card_image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: var(--purple);
    border-radius: 5px 25px 5px 50px;
    transition: transform 0.1s linear, box-shadow 0.2s;
    width: 100%;
}

.card_text:focus,
.card:focus {
    outline: 2px dashed var(--aqua);
}

.card:focus,
.card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.card_content {
    padding: 0.5rem 1rem 1rem;
    color: var(--white);
}

.card_title {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: auto;
    color: var(--black);
    padding: 0.5rem;
    border-radius: 5px 0 0 5px;
    transform: rotate(-3.3deg);
    transform-origin: left top;
    font-family: Georgia, Times, serif;
    font-weight: 600;
    font-size: 1.325rem;
    postition: relative;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(253, 73, 160, 0.75);
    animation: 0s 0s fly-in 0 reverse both;
}

@media (min-width: 535px) {
    .card_title {
        animation: 0.5s 0.25s fly-out 1 both;
    }
}

.card:focus .card_title,
.card:hover .card_title {
    animation: 0.5s ease-in 0s fly-in 1 both;
}

.card_text {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica,
    Helvetica Neue, Arial, sans-serif;
    line-height: 1.5;
    text-size-adjust: 0.2px;
    padding: 0 1rem;
}

.card_text p:first-of-type:first-letter {
    font-size: 1.8em;
    font-family: Georgia, Times, serif;
    margin-right: 0.05em;
}

@media (min-width: 480px) {
    .card_text {
        overflow: auto;
        max-height: 20rem;
        scrollbar-width: thin;
        scrollbar-color: var(--aqua) var(--violet);
    }

    .card_text::-webkit-scrollbar {
        width: 12px;
    }

    .card_text::-webkit-scrollbar-track {
        background: var(--violet);
    }

    .card_text::-webkit-scrollbar-thumb {
        background-color: var(--aqua);
    }
}

.card_text strong {
    color: var(--aqua);
}

.upcharge {
    position: relative;
    font-weight: 600;
    background-color: var(--violet);
    padding: 0.5rem 0.75rem;
    color: var(--trueBlack);
    border-radius: 0 10px;
    z-index: 0;
    overflow: hidden;
}

.upcharge::after,
.upcharge::before {
    content: "+";
    display: block;
    line-height: 0;
    font-size: 3rem;
    position: absolute;
    color: var(--purple);
    z-index: -1;
    opacity: 0.3;
}

.upcharge::before {
    left: 0;
    top: 0.5rem;
}

.upcharge::after {
    right: 0;
    bottom: 1.25rem;
}

.note {
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-weight: 900;
    background-image: linear-gradient(
            -45deg,
            transparent 10%,
            var(--aqua) 10.5%,
            var(--aqua) 90%,
            transparent 90.5%
    );
    color: var(--black);
    font-size: 1.3em;
    font-style: italic;
    margin-top: 1rem;
}

@keyframes fly-in {
    0% {
        top: 0;
        right: 0;
        font-size: 1.325rem;
    }

    25% {
        top: 0;
        right: -200%;
        font-size: 1.325rem;
    }

    26% {
        font-size: 2rem;
    }

    100% {
        top: 2rem;
        right: 0;
        font-size: 2rem;
    }
}

@keyframes fly-out {
    0% {
        top: 2rem;
        right: 0;
        font-size: 2rem;
    }

    50% {
        top: 0;
        right: -200%;
        font-size: 1.325rem;
    }

    100% {
        top: 0;
        right: 0;
        font-size: 1.325rem;
    }
}

.main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
}

.card_link {
    text-align: center;
    bottom: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5rem;
    color: #00ad9c;
    padding: 0.5rem 1rem;
    border-radius: 0 0 10px 10px;
    transition: all 0.2s ease-in-out;
}

.card_meta {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--trueBlack);
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px 10px 0 0;
    color: white;
    z-index: 2;
    flex-direction: row-reverse;
    gap: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-top: 1px solid var(--aqua);
    border-bottom: 1px solid var(--aqua);


}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.page_current {
    font-weight: 600;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--aqua);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0 0.25rem;
}

.pagination_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.pagination_links a {
    text-decoration: none;
    color: var(--trueBlack);
    font-weight: 600;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.pagination_links a:hover {
    transform: scale(1.1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
  margin-top: auto;
}

.main {
    flex: 1;
}