{% extends 'base.html' %}
{% load static %}
{% load sidebar %}
{% block title %}{{ title }}::{{ block.super }}{% endblock title %}

{% block content %}
<div class="main">
    <div class="main-content_search">

        <ul class="cards">
            {% for post in posts %}
            <li class="cards_item">
                <div class="card" tabindex="0">
                    {% if post.photo %}
                    <div class="card_image"><img src="{{ post.photo.url }}" alt="foto "></div>
                    {% else %}
                    <div class="card_image"><img src="https://placekitten.com/600/400" alt="{{ post.title }}"></div>
                    {% endif %}

                    <div class="card_content">

                        <h2 class="card_title">{{ post.title }}</h2>
                        <div class="card_text">
                            {{ post.content|truncatewords:20 }}
                        </div>
                        <div class="card_meta">
                            <p class="card_author"><strong>Author:</strong> {{ post.author }}</p>
                            <p class="card_date">{{ post.created_at|date:"M d, Y" }}</p>
                        </div>

                    </div>
                    <a href="{{ post.get_absolute_url }}" class="card_link">Read more</a>
                </div>

            </li>
            {% endfor %}

        </ul>
        <div class="sidebar">
            {% include 'search.html' %}

            {% show_tags %}
            {% get_popular_posts %}


        </div>
    </div>


    {% if page_obj.has_other_pages %}
    <div class="pagination">
        <div class="pagination_links">
            <span class="page_current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
            {% endif %}

        </div>
    </div>

    {% endif %}
</div>


{% endblock content %}